*,*::before, *::After{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-weight: 500;
}
:root{
    --Grayish_Violet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet:  hsl(260, 8%, 14%);
    --Gray: hsl(0, 0%, 75%);
    --Red: hsl(0, 87%, 67%);
    --Cyan: hsl(180, 66%, 49%);
    --Dark_Violet:  hsl(257, 27%, 26%);
    --color: hsl(228, 45%, 44%);
}
button{
    outline: none;
    border: none;
    background-color: var(--Cyan);
    color: white;
    padding: 0.6rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: hsl(180, 71%, 56%);
}
ul li:hover{
    opacity: 0.6;
}

button.get_started{
    border-radius: 20px;
}
.wrapper{
    padding: 0 8rem;
}


nav{
    display: flex;
    top: 2rem;
    width: 100%;
    position: fixed;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
}
.nav_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.2s ease-in-out;
}
ul li:not(:last-of-type){
    margin-right: 3rem;
}

 ul li a {
    text-decoration: none;
    display: inline-block;
    color: var(--Grayish_Violet);
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}
.header_content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 8rem;
    overflow: hidden;
}
.header_content img{
    width: 50vw;
    height: 60vh;
    position: relative;
    right: -40px;
    display: inline-block;
}

.header_content .left h3{
    color: var(--VeryDarkViolet);
    font-size: 5rem;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}
.header_content .left p{
    color: var(--Grayish_Violet);
    margin-bottom: 2rem;
}
.icons{
    cursor: pointer;
    display: none;
}
.icon{
    background-color: var(--Grayish_Violet);
    width: 28px;
    height: 3px;
    transition: 0.3s ease-in-out;
  }
  .icon:not(:last-of-type){
    margin-bottom: 6px;
}
  .change .bar1{
    -webkit-transform: rotate(-45deg) translate(-8px, 4px);
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  .change .bar2{
    opacity: 0;
  }
  .change .bar3{
    -webkit-transform: rotate(40deg) translate(-7px, -8px);
    transform: rotate(40deg) translate(-7px, -8px);
  }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
.section{
    transition: transform 0.3s, opacity 0.5s;
}
.section--2{
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size:cover;
    background-repeat:no-repeat;
    border-radius: 10px;
    padding: 2.5rem 0;
    background-color: var(--Dark_Violet);
    position: relative;
    top: 3rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
}

.message{
    color: rgb(240, 163, 20);
    width: 100%;
}
.input_message{
    width: 70%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.input_message input{
    border-radius: 5px;
    border: none;
    padding: 0.6rem 0 0.6rem 1rem;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    outline-offset: 2px;
}
.input_message input:focus{
    outline: 1px solid rgb(240, 163, 20);
}
 input::placeholder{
    font-size: initial;
}
.section--2 form button{
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
}

/* shorted links */
.shorted_links{
    margin-top: 2rem;
}
.each_link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.5rem 1rem ;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}
.input_link{
    width: 50%;
}
.shorted_link{
    width: 35%;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.delete{
    background-color: red;
}

#section--3{
    background-color:  hsl(264, 15%, 94%);
}
.section--3{
    padding: 1rem 0 2rem;
}
.detail{
    text-align: center;
    margin-top: 4rem;
}

.detail h3{
    color: var(--VeryDarkViolet);
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'poppins',sans-serif;
    padding-bottom: 10px;
}
.detail p{
    color: var(--Grayish_Violet);
    line-height: 2rem;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:4rem 0 6rem;
    gap: 2rem;
    position: relative;
}
.dashboard::after{
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    display: block;
    content: '';
    width: 60%;
    background-color: var(--Cyan);
    height: 8px;
}

.each_dashboard{
    z-index: 100;
    position: relative;
    border-radius: 10px;
    width: 25%;
    background-color: #ffff;
    padding: 4rem 2rem 5rem;
}
.each_dashboard h3{
    color: var(--VeryDarkViolet);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 15px;
}
.each_dashboard p{
    color: var(--Grayish_Violet);
}
.each_dashboard .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: var(--VeryDarkViolet);
}
.second_dashboard{
    position: relative;
    top: 2rem;
}
.third_dashboard{
    position: relative;
    top: 4rem;
}

.boost_link{
    background: url('./images/bg-shorten-desktop.svg');
    background-size:cover;
    background-color: var(--Dark_Violet);
    background-repeat:no-repeat;
    text-align: center;
    padding: 2.5rem;
}
.boost_link h3{
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 1.3rem;
}
footer{
    background-color: rgb(26, 24, 24);
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
    justify-content: space-between;
    color: #fff;
    align-items: flex-start;
}
.footer_content > h3{
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
    margin-right: 4rem;
}
.footer_content .links a {
    color: #fff;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    margin-bottom: 5px;
    transition: 0.2s ease-in-out;
}

.links a:hover:not(:first-child){
    opacity: 1;
}

.footer_content div .bold{
    font-weight: bold;
    margin-bottom: 1rem;
    opacity: 1;
}
.forth_link{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
